.not-found-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 0.5;
}

.not-found-heading {
  font-size: 40px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 50px;
}

.not-found-para {
  font-size: 18px;
  font-family: 'Roboto';
  color: #7e858e;
}

@media screen and (max-width: 576px) {
  .not-found-heading {
    font-size: 20px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 50px;
  }

  .not-found-para {
    font-size: 15px;
    font-family: 'Roboto';
    color: #7e858e;
  }
}
