.job-item-details-container {
  background-color: #000000;
  padding: 30px;
  padding-left: 50px;
  padding-right: 30px;
}

.job-item-details-card {
  background-color: #272727;
  margin: 25px;
  margin-top: 30px;
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 60px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 80px;
  border-radius: 20px;
}

.job-bio-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-top {
  display: flex;
  align-items: center;
  width: 30%;
}
.details-company-logo {
  width: 20%;
  margin-right: 20px;
}

.job-company-container {
  line-height: 0.5;
}

.company-title {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 20px;
}

.star-icon {
  color: #fbbf24;
  font-size: 20px;
  margin-right: 10px;
}

.company-rating {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: bold;
}

.rating-container {
  display: flex;
  align-items: center;
}

.job-middle {
  margin-top: 25px;
  line-height: 0.5;
}
.job-middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
}

.company-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

.company-location {
  color: #ffffff;
  font-size: 23px;
  margin-right: 10px;
}

.details-location-para {
  font-size: 18px;
  font-family: 'Roboto';
  color: #ffffff;
}

.details-company-salary {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 500;
}

.job-hr-line {
  border: 2px solid #64748b;
  width: 100%;
  border-bottom: 0px;
  border-left: 0px;
  border-right: 0px;
}

.job-details-description-title {
  font-size: 25px;
  font-family: 'Roboto';
  color: #ffffff;
  font-weight: 430;
  margin-top: 28px;
}

.job-details-bio {
  font-size: 19px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 25px;
  line-height: 1.6;
}

.visit-link-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

.visit-link {
  text-decoration: none;
  font-family: 'Roboto';
  font-size: 21px;
  color: #6366f1;
}

.visit-icon {
  margin-left: 5px;
}

.job-item-loader-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.job-details-card-heading {
  font-family: 'Roboto';
  font-size: 21px;
  color: #ffffff;
  font-weight: 430;
}

.skill-container {
  margin-top: 50px;
  line-height: 1;
}

.skill-list-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.life-company-container {
  line-height: 1;
  margin-top: 50px;
}

.life-company-details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.company-bio {
  font-size: 20px;
  font-family: 'Roboto';
  color: #ffffff;
  margin-top: 25px;
  line-height: 1.6;
  width: 59%;
}

.life-company-img {
  width: 500px;
  height: 330px;
  margin-top: 10px;
}

.similar-job-container {
  margin-top: 50px;
}

.job-details-heading {
  font-family: 'Roboto';
  font-size: 30px;
  color: #ffffff;
}

.similar-list-container {
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 576px) {
  .job-item-details-card {
    background-color: #272727;
    padding-left: 20px;
    padding-right: 20px;
  }
  .job-item-details-container {
    background-color: #000000;
    padding: 30px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .job-details-description-title {
    font-size: 20px;
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 430;
    margin-top: 28px;
  }
  .job-details-bio {
    font-size: 15px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 25px;
    line-height: 1.6;
  }

  .visit-link {
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 18px;
    color: #6366f1;
  }

  .job-details-card-heading {
    font-family: 'Roboto';
    font-size: 18px;
    color: #ffffff;
    font-weight: 430;
  }

  .skill-list-container {
    list-style-type: none;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
  }

  .life-company-details {
    display: flex;
    flex-direction: column;
  }

  .company-bio {
    font-size: 16px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 25px;
    line-height: 1.6;
    width: 59%;
  }

  .details-company-salary {
    font-size: 21px;
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: 500;
  }

  .life-company-img {
    width: 500px;
    height: 330px;
    margin-top: 10px;
  }
  .company-bio {
    font-size: 15px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 25px;
    line-height: 1.6;
    width: 100%;
  }

  .life-company-img {
    width: 100%;
    height: 30vh;
    margin-top: 10px;
  }

  .card-job-top {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .job-company-logo {
    width: 20%;
    margin-right: 5px;
  }

  .company-container {
    width: 100%;
  }

  .card-company-title {
    font-size: 20px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-top: 20px;
    width: 100%;
  }

  .details-company-location {
    color: #ffffff;
    font-size: 15px;
    margin-right: 5px;
  }

  .details-location-para {
    font-size: 15px;
    font-family: 'Roboto';
    color: #ffffff;
    margin-right: 5px;
  }

  .company-rating {
    font-size: 15px;
    font-family: 'Roboto';
    color: #ffffff;
    font-weight: bold;
  }
  .rating-container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  .job-company-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 55%;
  }
  .similar-list-container {
    list-style-type: none;
    padding: 0px;
    display: flex;
  }

  .no-job-logo {
    width: 80%;
    margin-bottom: 30px;
  }

  .no-job-title {
    font-size: 25px;
    font-family: 'Roboto';
    color: #ffffff;
  }

  .job-failure-btn {
    background-color: #4f46e5;
    color: #ffffff;
    padding: 10px;
    border: 0px;
    cursor: pointer;
    margin-top: 20px;
    width: 20%;
    border-radius: 5px;
  }
}
